*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
  height: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  height: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.content {
  display: grid;
  width: 1140px;
  grid-template-columns: 711px auto;
  gap: 30px;
  margin: 133px 30px;
  max-height: 534px;
}

.result {
  display: flex;
  flex-direction: column;
  height: inherit;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 16px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.search-form__fieldset {
  display: inline-block;
  border: 0;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 3px;
}

.search-form__textfield {
  display: block;
  width: 225px;
  color: rgb(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: 1px solid transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.search-form__textfield:active {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.search-form__textfield:focus,
.search-form__textfield:focus-visible {
  outline: 1px solid white;
  outline-offset: -3px;
}

.search-form__checkbox {
  width: 212px;
  color: #ffffffb2;
}

.search-form__label {
  width: -webkit-fit-content; 
  width: -moz-fit-content; 
  width: fit-content; 
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.search-form__label:has(:focus),
.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  appearance: none;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin-right: 5px;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid white;
}

.search-form__label-text:hover {
  text-decoration: underline;
}

input[type='checkbox']:checked + .search-form__pseudo-checkbox::before {
  content: '';
  display: block;
  margin-left: 1px;
  margin-top: 1px;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.button {
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 3.8px 72px;
  background-color: transparent;
  border: 1px solid white;
  cursor: pointer;
  align-self: flex-end;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: 1px solid white;
  outline-offset: -3px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  gap: 24px;
}

.title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 92%;
  text-transform: uppercase;
  padding-top: -1px;
}

.content__accent {
  color: #545050;
}

.preloader-template {
  cursor: pointer;
}

.content__list {
  overflow-y: auto;
  height: 296px;
  position: relative;
}

.content__list-item {
  margin-bottom: 31px;
}

.content__card-link {
  text-decoration: none;
  display: block;
  margin: 2px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 200px 1fr;
  width: 399px;
  position: relative;
  padding: 1px 2px 0.5px 0.5px;
}

.content__video-card-description-container {
  display: flex;  
  gap: 6px;
  flex-direction: column;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 2.8px;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
  height: 103px;
  object-fit: cover; 
}

.content__video-card-description-container:active {
  background-color: #545050;
}

.content__video-card-description-container:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link:focus,
.content__card-link:focus-visible {
  outline: none;
}

.content__card-link:focus,
.content__card-link:focus-visible {
  color: white;
  text-decoration: none;
  display: block;
  outline: 1px solid white;
}

.more-button {
  width: 100%;
}


